<style>
      body {
        background-image: url("https://www.oakcreekgolfclub.com/wp-content/uploads/2020/08/OCGC_VideoStill-1280x720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
</style>

<br>
<br>
<div class= "container">
<h1 class="white-text">Please Login</h1>
</div>

<div class= "container">
<form action="/" method="post">
<p>
<label for="name">Name:</label>
<input type="text" name="name" id="name">
</p>
<p>
<label for="password">Password:</label>
<input type="password" name="password" id="password">
</p>
<input class="btn green darken-4" type="submit" value="login">
</form>
</div>