<br>
<br>
<style>
      body {
        background-image: url("https://content3.jdmagicbox.com/comp/bangalore/g6/080pxx80.xx80.150203183924.r1g6/catalogue/star-bouncers-koramangala-bangalore-birthday-party-organisers-0tsuwpj6xt.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: large;
      }
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<h1 class="white-text">The Course is Closed!!!</h1>
