
<br>
<br>

<div class= "container">
<h1 class="white-text">Please Sign Up</h1>
</div>

<div class= "container">
<form action="/users" method="post">
<p>
<label for="name">Name:</label>
<input type="text" name="name" id="name">
</p>
<p>
<label for="password">Password:</label>
<input type="password" name="password" id="password">
</p>
<input class="btn green darken-4"  type="submit" value="Sign Up" >
</form>
</div>
