<style>
      body {
        background-image: url("https://www.oakcreekgolfclub.com/wp-content/uploads/2020/08/OCGC_VideoStill-1280x720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
</style>


<center>
<h1 class="white-text">Enter Clubs</h1>


<form action="/bag/made" method="post">
      <small>

        <div class="input-field col s6 container">
          <input id="name" name="bag[name]" type="text" class="validate">
          <label for="title">Name Your Set</label>
        </div>

       <div class="input-field col s6 container ">
          <input id="club_1" name="bag[club_1]" type="text" class="validate">
          <label for="title">Club 1</label>
        </div>

        <div class="input-field col s6 container ">
          <input id="club_2" name="bag[club_2]" type="text" class="validate">
          <label for="title">Club 2</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_3" name="bag[club_3]" type="text" class="validate">
          <label for="title">Club 3</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_4" name="bag[club_4]" type="text" class="validate">
          <label for="title">Club 4</label>
        </div>
                <div class="input-field col s6 container ">
          <input id="club_5" name="bag[club_5]" type="text" class="validate">
          <label for="title">Club 5</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_6" name="bag[club_6]" type="text" class="validate">
          <label for="title">Club 6</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_7" name="bag[club_7]" type="text" class="validate">
          <label for="title">Club 7</label>
        </div>
                </div>
          <div class="input-field col s6 container ">
          <input id="club_8" name="bag[club_8]" type="text" class="validate">
          <label for="title">Club 8</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_9" name="bag[club_9]" type="text" class="validate">
          <label for="title">Club 9</label>
        </div>
                <div class="input-field col s6 container ">
          <input id="club_10" name="bag[club_10]" type="text" class="validate">
          <label for="title">Club 10</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_11" name="bag[club_11]" type="text" class="validate">
          <label for="title">Club 11</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_12" name="bag[club_12]" type="text" class="validate">
          <label for="title">Club 12</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_13" name="bag[club_13]" type="text" class="validate">
          <label for="title">Club 13</label>
        </div>

        </div>
          <div class="input-field col s6 container ">
          <input id="club_14" name="bag[club_14]" type="text" class="validate">
          <label for="title">Club 14</label>
        </div>
      </small>
  
        
  <style>
    a { color: #FFFFFF; } /* CSS link color */
  </style>
</head>
<body>
      
</body>
        


               
<input class="btn green darken-4" type="submit" value="Make Bag">
</form>