<center>
<h1 class="grey-text darken-4">Sign Up</h1>


<form action="/user" method="post">
      </div>
      <div class="input-field col s6 container ">
          <input id="name" name="user[name]" type="text" class="validate">
          <label for="title">Enter Name</label>
        </div>
        

        <div class="input-field col s6 container">
          <input id="password" name="user[password]" type="text" class="validate">
          <label for="title">Enter Password</label>
        </div>
               
<input class="btn green darken-4" type="submit" value="Sign Up">
</form>