<style>
      body {
        background-image: url("https://www.oakcreekgolfclub.com/wp-content/uploads/2020/08/OCGC_VideoStill-1280x720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
</style>

<br>
<br>
<br>
<center>
<h1 class="white-text">Hello <%=@name.split(" ").first.capitalize%>!</h1>