<style>
      body {
        background-image: url("https://www.oakcreekgolfclub.com/wp-content/uploads/2020/08/OCGC_VideoStill-1280x720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
</style>


<br>
<br>
<br>
<br>
<br>
<center>

  <style>
    a { color: #FFFFFF; } /* CSS link color */
  </style>
</head>
<body>
        <h3><a href="/login">Log In</a></h3>
        <h3><a href="/user/new">Sign Up</a></h3>
</body>
 
  

  
</center>

