
<br>
<br>
<br>
<br>
<br>
<center>

  <style>
    a { color: #FFFFFF; } /* CSS link color */
  </style>
</head>
<body>
        <h3><a href="/login">Log In</a></h3>
        <h3><a href="/users/new">Sign Up</a></h3>
</body>
 
  

  
</center>

